<h1>Friend requests sent to:</h1>
<ul>
<% @friendship_requests.each do |request| %>
  <% if request.request_provider_id == current_user.id %>

    <% user = User.find(request.request_recipient_id) %>
    <li><%= link_to user.username, user %></li>
    
    <li><%= link_to "Reject Request", friendship_request_path(request), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %></li>
  <% end %>
<% end %>
</ul>

<h1>Friend request received from:</h1>
<ul>
<% @friendship_requests.each do |request| %>
  <% if request.request_recipient_id == current_user.id %>

    <% user = User.find(request.request_provider_id) %>
    <li><%= link_to user.username, user %></li>

    <li><%= link_to "Reject Request", friendship_request_path(request), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %></li>

    <%= form_with model: Friendship.new do |form| %>
      <div>
        <%= form.hidden_field :friendship_recipient_id, value: user.id %>
      </div>

      <div>
        <%= form.hidden_field :friendship_provider_id, value: current_user.id %>
      </div>
      
      <div>
        <%= form.submit "Accept Friendship" %>
      </div>
    <% end %>
  <% end %>
<% end %>
</ul>
