<% unless posts.nil? %>
  <div class="flex flex-col">
    <% posts.each do |post| %>
      <div class="flex flex-col justify-center align-center">
        <%= User.find(post.user_id).username %> posted: 
        <div>
          <%= post.body %> at: <%= post.created_at %>

          <% if post.user_id == current_user.id %>
            <%= link_to "Delete post", post_path(post), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"} %>
          <% else %>
            <%= render "likes/new_likes", liked_item: post %>
          <% end %>
          <%= render "likes/all_likes", liked_item: post %>
        </div>

        <%= render "comments/new_comments", post: post %>
        <%= render "comments/all_comments", post: post %>
      </div>
    <% end %>
  </div>
<% end %>

