<ul>
  <% unless @newsfeed_posts.nil? %>
    <% @newsfeed_posts.each do |post| %>
      <li>
        <p>Author: <%= User.find(post.user_id).username %></p>
        <p>Post: <%= post.body %></p>
        <p>Created at: <%= post.created_at %></p>

        <% if post.user_id == current_user.id %>
          <%= link_to "Delete Post", post_path(post), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"} %>
        <% end %>

        <% @comment = post.comments.build %>
        <%= form_with model: @comment do |form| %>
          <p>
            <%= form.label :body, 'Comment on post:' %><br>
            <%= form.text_area :body %>
          </p>
          <p>
            <%= form.submit %>
          </p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
