<ul>
  <% unless posts.nil? %>
    <% posts.each do |post| %>
      <li>
        <%= User.find(post.user_id).username %> posted: 
        <%= post.body %> at: <%= post.created_at %>

        <% if post.user_id == current_user.id %>
          <%= link_to "Delete post", post_path(post), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"} %>
        <% else %>
          <%= render "likes/new_likes", liked_item: post %>
        <% end %>

        <%= render "likes/all_likes", liked_item: post %>
        <%= render "comments/new_comments", post: post %>
      </li>

      <% comments = Comment.where(post_id: post.id).sort_by(&:created_at).reverse %>

      <% comments.each do |comment| %>
        <div class="comment" >
          <%= User.find(comment.user_id).username %> commented: <%= comment.body %> at: <%= comment.created_at %>
          <% if comment.user_id == current_user.id %>
            <%= link_to "Delete comment", comment_path(comment), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"} %>
          <% else %>
            <%= render "likes/new_likes", liked_item: comment %>
          <% end %>
          <%= render "likes/all_likes", liked_item: comment %>
        </div>
      <% end %>
   <% end %>
  <% end %>
</ul>
