<!DOCTYPE html>
<html>
  <head>
    <title>openDevBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-50 flex flex-row">  
    <nav class="text-center">
      <%= link_to "News Feed", new_post_path, class: "px-3 hover:bg-slate-300 rounded" %>
      <%= link_to "User Profile", current_user, class: "px-3 hover:bg-slate-300 rounded" %>
      <%= link_to "All Users", users_path, class: "px-3 hover:bg-slate-300 rounded" %>
      <%= link_to "Friendship Requests", friendship_requests_path, class: "px-3 hover:bg-slate-300 rounded" %>
      <%= link_to "Friendships", friendships_path, class: "px-3 hover:bg-slate-300 rounded" %>
      <%= link_to "Notifications", notifications_path, class: "px-3 hover:bg-slate-300 rounded" %>
    </nav>
    <main>
    <h1 class="text-slate-700 text-center text-3xl font-bold underline">
      openDevBook
    </h1>
    
    <%= yield %>
    </main>

    <header class="text-center">
      <%= link_to "Sign In", new_user_session_path, class: "px-3 hover:bg-slate-300 rounded" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "px-3 hover:bg-slate-300 rounded" %>
      <%= link_to "Sign Out", destroy_user_session_path, class: "px-3 hover:bg-slate-300 rounded" %>
       
      
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert"><%= flash[:alert] %></p>
      <% end %>
    </header>
  </body>
</html>
