<!DOCTYPE html>
<html class="h-full w-full">
  <head>
    <title>openDevBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full w-full bg-slate-100">  
    <nav class="bg-gray-800 flex items-center justify-between h-16 mb-10">

      <div class="flex items-left justify-left sm:items-stretch sm:justify-start">
        <% if current_user %>
          <%= link_to "News Feed", new_post_path, class: "text-center text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          <%= link_to "All Users", users_path, class: "text-center text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          <%= link_to "Friends", friendships_path, class: "flex items-center text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          <%= link_to "Friend Requests", friendship_requests_path, class: "text-center text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
        <% end %>
      </div>
      <h1 class= "text-center text-5xl font-bold text-gray-300 flex-none">openDevBook</h1>

      <div class="flex justify-items-end justify-end">
        <% if current_user %>
          <%= link_to "Notifications", notifications_path, class: "text-center text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          <%= link_to "User Profile", current_user, class: "text-center text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>      
          <%= link_to "Sign Out", destroy_user_session_path, class: "text-center text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          
          <button type="button" class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
            <!-- Heroicon name: outline/bell -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </button>
        <% end %>
      </div>
    </nav>
    <main class= "h-full w-full flex flex-col items-center">
      <%= yield %>

      <% if flash[:notice] %>
        <p class="notice text-center"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert text-center"><%= flash[:alert] %></p>
      <% end %>
    </main>
  </body>
</html>
